h1,
h2,
h3,
h4 {
    font-family: Oswald, sans-serif!important;
    margin: 0;
}

h1,
h2 {
    font-size: 24px;
}

h3 {
    font-size: 30px;
    padding-top: 10px;
}

ul {
    padding: 0;
}

ul li {
    padding: 0 10px;
}

button:hover {
    cursor: pointer;
}

button,
input,
button:active,
button:focus {
    outline: none;
}

.root {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    max-width: 600px;
    margin: 0 auto;
    color: #555;
}

.header {
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
}

.header input {
    padding: 6px 12px;
    width: 172px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #e96e50;
    margin-right: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.header .search {
    border-radius: 4px;
    width: 86px;
    font-size: 14px;
    background-color: #e96e50;
    color: white;
    border-color: #e96e50;
}
/* .header button:hover {
    background-color: #c1593f;
} */
.header .location {
  border: none;
  text-decoration: underline;
  padding-left: 12px;
}
.location button:hover {
  background-color: #ddd;
}

.body {
    width: 600px;
    min-height: 480px;
    border: 1px solid #dddddd;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 2px;
    border-color: #dddddd;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 480px;
}

.body img {
    width: 50px;
    height: 50px;
}

.current-weather {
    padding: 0 15px;
} 

.current-weather span {
  vertical-align: top;
}

.current-weather p {
  font-weight: 500;
  font-size: 15px;
  margin-top: 0;
}

.image {
  display: inline-block;
  width: 80px;
}
.image img {
  width: 100%;
  object-fit: cover;
} 

.hourly-weather,
.weekly-weather {
    display: flex;
}

ul.hourly-weather {
    position: absolute;
    top: 190px;
    left: 0;
    overflow: hidden;
    transition: all ease 1s;
    list-style: none;
    list-style-position: inside;
    padding: 10px 0;
    margin: 0;
}

.hourly-weather li {
    width: 100px;
    box-sizing: border-box;
}

.switch {
    padding-top: 140px;
}

.switch button {
    border: none;
    color: #6d6b6b;
}
.switch button:disabled {
  color: #dddddd;
}

ul.weekly-weather {
    position: absolute;
    top: 355px;
    left: 0;
    list-style: none;
}

.weekly-weather li {
    width: 100px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 10px;
}
.weekly-weather li:hover, .weekly-weather li:active  {
    background-color: #ddd;
}
.day {
    background-color: white;
}
.selected-element {
    background-color: #ddd;   
}

.day-temp,
.night-temp {
    vertical-align: top;
    min-width: 30px;
    padding: 3px 5px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    display: inline-block
}

.day-temp {
    background-color: #e96e50;
}

.night-temp {
    background-color: #4e4d4a;
    margin-right: 5px;
}

/* preloader */
.sk-circle-bounce {
    width: 4em;
    height: 4em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .sk-circle-bounce .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-circle-bounce .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #e96e50;
    border-radius: 100%;
    -webkit-animation: sk-circle-bounce-delay 1.2s infinite ease-in-out both;
            animation: sk-circle-bounce-delay 1.2s infinite ease-in-out both;
  }
  .sk-circle-bounce .sk-circle-2 {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-circle-bounce .sk-circle-3 {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-circle-bounce .sk-circle-4 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-circle-bounce .sk-circle-5 {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-circle-bounce .sk-circle-6 {
    -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-circle-bounce .sk-circle-7 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-circle-bounce .sk-circle-8 {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-circle-bounce .sk-circle-9 {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-circle-bounce .sk-circle-10 {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-circle-bounce .sk-circle-11 {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  .sk-circle-bounce .sk-circle-12 {
    -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
  }
  .sk-circle-bounce .sk-circle-2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
  }
  .sk-circle-bounce .sk-circle-3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  .sk-circle-bounce .sk-circle-4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
  }
  .sk-circle-bounce .sk-circle-5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
  }
  .sk-circle-bounce .sk-circle-6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s;
  }
  .sk-circle-bounce .sk-circle-7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
  }
  .sk-circle-bounce .sk-circle-8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .sk-circle-bounce .sk-circle-9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-circle-bounce .sk-circle-10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-circle-bounce .sk-circle-11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-circle-bounce .sk-circle-12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circle-bounce-delay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sk-circle-bounce-delay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  